@*<!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Error</title>
    </head>
    <body>
        <hgroup>
            <h1>Error.</h1>
            <h2>An error occurred while processing your request.</h2>
        </hgroup>
    </body>
    </html>*@


<button>Add Department</button>

<div class="card">
    <div class="card-body">
        <label for="departmentname">Department Name :</label>
        <input id="departmentname" placeholder="department name" class="form-control" />

        <button>Add Employee</button>

        <div class="EmployeeList">
            <div id="Employee1">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td><button>A P</button></td>
                            <td><input name="Employee Name" placeholder="Employee Name"/></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Project Name</td>
                            <td><input name="ProjectName" placeholder="Project Name" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <div id="Employee2">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td><button>A P</button></td>
                            <td><input name="Employee Name" placeholder="Employee Name" /></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Project Name</td>
                            <td><input name="ProjectName" placeholder="Project Name" /></td>
                        </tr>
                    </tbody>
                </table>
            </div> 
            
        </div>       
    </div>
</div>
