
@{
    ViewBag.Title = "TeacherList";
}

<h2>TeacherList</h2>

<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Subject</th>
                <th scope="col">Faculty</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Alice Johnson</td>
                <td>Mathematics</td>
                <td>Science</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Bob Smith</td>
                <td>English</td>
                <td>Humanities</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Carol Lee</td>
                <td>Physics</td>
                <td>Science</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>David Brown</td>
                <td>History</td>
                <td>Humanities</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>Eva White</td>
                <td>Biology</td>
                <td>Science</td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>Frank Green</td>
                <td>Chemistry</td>
                <td>Science</td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td>Grace Adams</td>
                <td>Literature</td>
                <td>Humanities</td>
            </tr>
            <tr>
                <th scope="row">8</th>
                <td>Henry Clark</td>
                <td>Computer Science</td>
                <td>Technology</td>
            </tr>
            <tr>
                <th scope="row">9</th>
                <td>Irene Black</td>
                <td>Art</td>
                <td>Arts and Design</td>
            </tr>
            <tr>
                <th scope="row">10</th>
                <td>Jack Wilson</td>
                <td>Music</td>
                <td>Arts and Design</td>
            </tr>
        </tbody>
    </table>
</div>



