
@{
    ViewBag.Title = "Employee";
}

<h2>Employee</h2>

<h1> This is employee model....</h1>
<h1> This is employee model....</h1>
<h1> This is employee model....</h1>
<h1> This is employee model....</h1>
<h1> This is employee model....</h1>
<h1> This is employee model....</h1>
<h1> This is employee model....</h1>
<h1> This is employee model....</h1>
<h1> This is employee model....</h1>
<h1> This is employee model....</h1>
<h1> This is employee model....</h1>
<h1> This is employee model....</h1>
<h1> This is employee model....</h1>
<h1> This is employee model....</h1>
<h1> This is employee model....</h1>
<h1> This is employee model....</h1>
<h1> This is employee model....</h1>
<h1> This is employee model....</h1>
<h1> This is employee model....</h1>
<h1> This is employee model....</h1>
<h1> This is employee model....</h1>

