
@{
    ViewBag.Title = "StudentList";
}

<h2>StudentList</h2>

<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Faculty</th>
                <th scope="col">RollNo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Jason Kim</td>
                <td>Science</td>
                <td>101</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Emma Davis</td>
                <td>Humanities</td>
                <td>102</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Michael Brown</td>
                <td>Science</td>
                <td>103</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Olivia Wilson</td>
                <td>Humanities</td>
                <td>104</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>Liam Miller</td>
                <td>Technology</td>
                <td>105</td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>Sophia Taylor</td>
                <td>Arts and Design</td>
                <td>106</td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td>James Anderson</td>
                <td>Science</td>
                <td>107</td>
            </tr>
            <tr>
                <th scope="row">8</th>
                <td>Isabella Thomas</td>
                <td>Arts and Design</td>
                <td>108</td>
            </tr>
            <tr>
                <th scope="row">9</th>
                <td>Benjamin Harris</td>
                <td>Technology</td>
                <td>109</td>
            </tr>
            <tr>
                <th scope="row">10</th>
                <td>Mia Martin</td>
                <td>Humanities</td>
                <td>110</td>
            </tr>
        </tbody>
    </table>
</div>


